<div class="footer">
    <div class="social footer-info">
        <i class="fa-brands fa-square-facebook"></i>
        <i class="fa-brands fa-square-instagram"></i>
        <i class="fa-brands fa-linkedin"></i>
    </div>
    <div class="foot-name footer-info">
        <p>&copy; Wanderlust Private Limited</p>
    </div>
    <div class="foot-links">
        <a href="/privacy" class="links">Privacy</a>
        <a href="/terms" class="links">Terms</a>
    </div>
</div>