<% layout("/layouts/boilerplate") %>
<body>
    <div class="row">
        <div class="col-8 offset-2">

            <h1>Add Listing</h1>
            <form method="POST" action="/listings" class="needs-validation" novalidate enctype="multipart/form-data">

                <div class="mb-3">
                    <label for="title" class="form-label"><b>Title</b></label>
                    <input type="text" name="title" placeholder="Enter Title" class="form-control" id="title" style="height: 3rem;" required>
                    <div class="valid-feedback">
                        Title looks good!!
                    </div>
                </div>
        
                <div class="mb-3">
                    <label for="dec" class="form-label"><b>Description</b></label>
                    <textarea name="description" placeholder="Enter Description" class="form-control" id="dec" style="height: 5rem;" required></textarea>
                    <div class="valid-feedback">
                        Description looks good!!
                    </div>
                    <div class="invalid-feedback">
                        Enter a valid description...
                    </div>
                </div>
        
                <div class="mb-3">
                    <label for="img" class="form-label"><b>Upload Image</b></label>
                    <input type="file" name="listing[image]" class="form-control" id="img" required>
                </div>
        
                <div class="row">

                    <div class="mb-3 col-md-4 ">
                        <label for="dec" class="form-label"><b>Price</b></label>
                        <input  name="price" placeholder="Enter Price" class="form-control" id="dec" style="height: 3rem;" required>
                        <div class="invalid-feedback">
                            Price should be valid.
                        </div>
            
                    </div>
            
                    <div class="mb-3 col-md-8 ">
                        <label for="location" class="form-label"><b>Location</b></label>
                        <input type="text" name="location" placeholder="Enter Location" class="form-control" id="location" style="height: 3rem;" required>
                        <div class="invalid-feedback">
                            Location should be valid.
                        </div>
                    </div>

                </div>
                
        
                <div class="mb-3">
                    <label for="count" class="form-label"><b>Country</b></label>
                    <input type="text" name="country" placeholder="Enter Country" class="form-control" id="count" style="height: 3rem;" required>
                    <div class="invalid-feedback">
                        Country should be valid.
                    </div>
                </div>
                <br>

                <button class="add">ADD</button>
            </form>

        </div>
        
    </div>
</body>
